Repository bhudgens/status-page, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin, @maintainers, @devops, @frontend-team, @docs-team

Implement initial issue parser script for status updates
  cline/plan.md
  scripts/issue-parser.js
  scripts/package.json
Owners: @docs-team, @admin, @devops

Mark issue parser task as DONE
  cline/plan.md
Owners: @docs-team, @admin

Restore plan.md with updated task tracking
  cline/plan.md
Owners: @docs-team, @admin

Restoring broken plan
  cline/plan.md
Owners: @docs-team, @admin

Implement issue parser for status updates
  cline/plan.md
  scripts/issue-parser.js
Owners: @docs-team, @admin, @devops

Initialize status.json with example systems and incident data
  data/status.json
Owners: @admin

Implement label-based status mapping
  .github/labels.json
  scripts/manage-labels.js
Owners: @admin, @devops

Implement comment processing for status updates
  scripts/comment-processor.js
Owners: @devops

Add issue template enforcement
  .github/ISSUE_TEMPLATE/incident-report.md
  scripts/validate-issue-template.js
Owners: @docs-team, @admin, @devops

Add GitHub Actions workflow for issue event handling
  .github/workflows/issue-event-handler.yml
Owners: @admin, @devops

Implement status file update automation
  scripts/update-status-file.js
Owners: @devops

Update Phase 3 task statuses to reflect completed work
  cline/plan.md
Owners: @docs-team, @admin

Update issue event handler with comprehensive error handling
  .github/workflows/issue-event-handler.yml
Owners: @admin, @devops

Configure repository permissions and security
  .github/workflows/repository-security.yml
  CODEOWNERS
Owners: @admin, @devops

feat: enhance repository permissions with granular CODEOWNERS rules
  CODEOWNERS
Owners: @admin

feat: complete Phase 3 tasks and implement error handling in GitHub integration
  cline/plan.md
  scripts/error-handler.js
Owners: @docs-team, @admin, @devops

Not ready to enable github actions yet
  .github-backup/issue-event-handler.yml
  .github-backup/repository-security.yml
Owners: @admin

feat: implement branch protection rules workflow
  .github-backup/README.md
  .github-backup/branch-protection.yml
  cline/plan.md
Owners: @docs-team, @admin

Add unit tests for issue-parser.js and fix status/severity mapping
  scripts/__tests__/issue-parser.test.js
  scripts/issue-parser.js
  scripts/package-lock.json
  scripts/package.json
Owners: @devops

feat: Add unit tests for core components - error-handler, manage-labels, validate-issue-template, validate-config
  cline/plan.md
  scripts/__tests__/error-handler.test.js
  scripts/__tests__/manage-labels.test.js
  scripts/__tests__/update-status-file.test.js
  scripts/__tests__/validate-config.test.js
  scripts/__tests__/validate-issue-template.test.js
Owners: @docs-team, @admin, @devops

feat: Add comprehensive GitHub Actions integration tests
  scripts/__tests__/github-actions-integration.test.js
Owners: @devops

docs: Mark GitHub Actions integration tests as complete
  cline/plan.md
Owners: @docs-team, @admin

fix: Add time parsing to template timestamps to resolve nil time error
  data/status.json
  layouts/partials/status-dashboard.html
Owners: @admin

fix: restore sample data and incident files to populate status page
  content/incidents/inc-001.md
  content/incidents/inc-004.md
  data/status.json
Owners: @docs-team, @admin

feat: Add Jest configuration and migrate update-status-file.js to ES modules
  scripts/jest.config.js
  scripts/package.json
  scripts/update-status-file.js
Owners: @devops

fix: Update links in documentation to remove localhost references
  docs/css/main.min.css
  docs/incidents/inc-001/index.html
  docs/incidents/inc-004/index.html
  docs/incidents/index.html
  docs/incidents/index.xml
  docs/index.html
  docs/index.xml
  docs/sitemap.xml
  docs/systems/index.html
  docs/systems/index.xml
Owners: @docs-team, @admin

Update all URLs to be relative for subpath hosting support
  layouts/_default/baseof.html
  layouts/incidents/single.html
  layouts/partials/status-dashboard.html
Owners: @admin

Update baseURL to support GitHub Pages subpath hosting
  docs/incidents/inc-001/index.html
  docs/incidents/inc-004/index.html
  docs/incidents/index.html
  docs/incidents/index.xml
  docs/index.html
  docs/index.xml
  docs/sitemap.xml
  docs/systems/index.html
  docs/systems/index.xml
  hugo.toml
Owners: @docs-team, @admin

Update CSS path to use relative paths for subpath support
  docs/incidents/inc-001/index.html
  docs/incidents/inc-004/index.html
  docs/incidents/index.html
  docs/incidents/index.xml
  docs/index.html
  docs/index.xml
  docs/sitemap.xml
  docs/systems/index.html
  docs/systems/index.xml
  layouts/_default/baseof.html
Owners: @docs-team, @admin

Use relative paths with ../ for all links and assets
  docs/incidents/inc-001/index.html
  docs/incidents/inc-004/index.html
  docs/incidents/index.html
  docs/index.html
  docs/systems/index.html
  layouts/_default/baseof.html
  layouts/partials/status-dashboard.html
Owners: @docs-team, @admin

Fix relative paths for incident detail pages
  docs/incidents/inc-001/index.html
  docs/incidents/inc-004/index.html
  docs/incidents/index.html
  docs/index.html
  docs/systems/index.html
  layouts/_default/baseof.html
Owners: @docs-team, @admin

Relative paths
  hugo.toml
  layouts/incidents/single.html
  layouts/partials/status-dashboard.html
Owners: @admin

.github/CODEOWNERS:

# Global code owners
* @admin

# Configuration files
/config/ @admin
/config/systems.json @admin @maintainers

# GitHub Actions workflows
/.github/workflows/ @admin @devops

# Frontend code
/src/ @frontend-team

# Documentation
/docs/ @docs-team @admin
*.md @docs-team @admin

# Scripts
/scripts/ @devops
