Repository bhudgens/status-page, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin, @maintainers, @devops, @frontend-team, @docs-team

docs: Mark repository security controls task as complete
  cline/plan.md
Owners: @docs-team, @admin

feat: Add temporary landing page for GitHub Pages
  public/index.html
Owners: @admin

docs: Update GitHub Pages settings status to 'doing' in project plan
  cline/plan.md
Owners: @docs-team, @admin

chore: Move GitHub Pages output to /docs directory and update documentation
  cline/plan.md
  docs/index.html
Owners: @docs-team, @admin

docs: Mark GitHub Pages configuration task as complete
  cline/plan.md
Owners: @docs-team, @admin

feat: Add initial CI/CD GitHub Actions workflow
  .github/workflows/ci-cd.yml
Owners: @admin, @devops

docs: Mark GitHub Actions workflow task as complete
  cline/plan.md
Owners: @docs-team, @admin

docs: Update status of Hugo static site generator setup to 'doing' and add task to restore GitHub Actions workflows
  .github-backup/ci-cd.yml
  cline/plan.md
Owners: @admin, @docs-team

Set up Hugo static site generator with basic content structure
  .gitmodules
  .hugo_build.lock
  archetypes/default.md
  cline/plan.md
  content/_index.md
  content/incidents/_index.md
  content/systems/_index.md
  docs/404.html
  docs/categories/index.html
  docs/categories/index.xml
  docs/images/gohugo-default-sample-hero-image.jpg
  docs/incidents/index.html
  docs/incidents/index.xml
  docs/incidents/page/1/index.html
  docs/index.html
  docs/index.xml
  docs/sitemap.xml
  docs/systems/index.html
  docs/systems/index.xml
  docs/systems/page/1/index.html
  docs/tags/index.html
  docs/tags/index.xml
  hugo.toml
Owners: @admin, @docs-team

feat: Add base templates and layouts with responsive design
  assets/css/main.css
  cline/plan.md
  layouts/_default/baseof.html
  layouts/_default/index.html
  layouts/incidents/list.html
  layouts/incidents/single.html
  layouts/systems/list.html
  layouts/systems/single.html
Owners: @admin, @docs-team

feat: implement JSON data structure for status history
  cline/plan.md
  data/status.json
Owners: @docs-team, @admin

feat: add GitHub Actions workflow for issue processing
  .github/workflows/issue-processor.yml
Owners: @admin, @devops

docs: mark GitHub Actions tasks as complete
  cline/plan.md
Owners: @docs-team, @admin

feat: implement current status dashboard with responsive design
  assets/css/main.css
  layouts/_default/index.html
  layouts/partials/status-dashboard.html
Owners: @admin

Implement status history visualization with 30-day view
  assets/css/main.css
  layouts/partials/status-dashboard.html
Owners: @admin

Fix integer type errors in status history visualization and mark task as complete
  cline/plan.md
  layouts/partials/status-dashboard.html
Owners: @docs-team, @admin

chore: update .gitignore to exclude /docs/ directory
  .gitignore
Owners: @admin

Revert "chore: update .gitignore to exclude /docs/ directory"
  .gitignore
Owners: @admin

chore: cleanup build artifacts and track systems config
  content/_index.md
  data/status.json
  data/systems.json
  docs/404.html
  docs/categories/index.html
  docs/categories/index.xml
  docs/css/main.css
  docs/incidents/index.html
  docs/incidents/index.xml
  docs/index.html
  docs/index.xml
  docs/sitemap.xml
  docs/systems/index.html
  docs/systems/index.xml
  docs/tags/index.html
  docs/tags/index.xml
  hugo.toml
  layouts/_default/baseof.html
  layouts/_default/index.html
  layouts/systems/list.html
Owners: @docs-team, @admin

chore: configure hugo to output to docs directory and remove public directory
  docs/404.html
  docs/categories/index.html
  docs/categories/index.xml
  docs/incidents/index.html
  docs/incidents/index.xml
  docs/incidents/page/1/index.html
  docs/index.html
  docs/index.xml
  docs/sitemap.xml
  docs/systems/index.html
  docs/systems/index.xml
  docs/systems/page/1/index.html
  docs/tags/index.html
  docs/tags/index.xml
  hugo.toml
  package.json
Owners: @docs-team, @admin

chore: update .gitignore to exclude public dir and document build process in README
  .gitignore
  README.md
Owners: @admin, @docs-team

docs: add note about using npm run build to ensure docs directory output
  cline/plan.md
Owners: @docs-team, @admin

fix: restore docs directory configuration and fix CSS serving
  docs/404.html
  docs/images/gohugo-default-sample-hero-image.jpg
  docs/incidents/index.html
  docs/incidents/index.xml
  docs/index.html
  docs/index.xml
  docs/sitemap.xml
  docs/systems/index.html
  docs/systems/index.xml
  hugo.toml
  layouts/_default/baseof.html
  package.json
  static/css/main.css
Owners: @docs-team, @admin

feat: enhance system component status cards with uptime, timeline, and incident info
  layouts/partials/status-dashboard.html
  static/css/main.css
Owners: @admin

fix: correct variable scoping in status dashboard template
  layouts/partials/status-dashboard.html
Owners: @admin

refactor: remove incomplete 7-day status visualization, add as TODO item
  assets/css/main.css
  cline/plan.md
  docs/css/main.css
  docs/index.html
  layouts/partials/status-dashboard.html
Owners: @admin, @docs-team

Update task status: Start implementing 7-day status visualization
  cline/plan.md
Owners: @docs-team, @admin

Convert 7-day status history to table layout in system cards
  assets/css/main.css
  layouts/partials/status-dashboard.html
Owners: @admin

Improve 7-day status history with Bootstrap-style table layout
  assets/css/main.css
  layouts/partials/status-dashboard.html
Owners: @admin

feat: enhance weekly table with Bootstrap and fix status colors
  assets/css/main.css
  layouts/_default/baseof.html
  layouts/partials/status-dashboard.html
Owners: @admin

style: update CSS for metric labels and weekly table layout; modify status to major outage in JSON
  assets/css/main.css
  data/status.json
  layouts/_default/baseof.html
  layouts/partials/status-dashboard.html
Owners: @admin

Mark 7-day status visualization task as complete
  cline/plan.md
Owners: @docs-team, @admin

Rename
  .github-backup/issue-processor.yml
Owners: @admin

Enhance incident detail page styling with improved visual hierarchy, better status indicators, and responsive design
  assets/css/main.css
  layouts/incidents/single.html
Owners: @admin

Mark incident detail views task as complete
  cline/plan.md
Owners: @docs-team, @admin

feat: enhance incidents list and detail page styling with modern design elements and improved UX
  assets/css/main.css
Owners: @admin

feat: enhance incidents pages with modern design and improved UX
  content/incidents/inc-001.md
  content/incidents/inc-004.md
  docs/css/main.css
  docs/css/main.min.css
  docs/incidents/inc-001/index.html
  docs/incidents/inc-004/index.html
  docs/incidents/index.html
  docs/incidents/index.xml
  docs/index.html
  docs/index.xml
  docs/sitemap.xml
  docs/systems/index.html
  docs/systems/index.xml
  layouts/_default/baseof.html
  layouts/incidents/list.html
  layouts/incidents/single.html
  static/css/main.css
Owners: @docs-team, @admin

Fix incident links and CSS organization - Added CSS fix for incident links in baseof.html - Removed duplicate CSS from assets directory
  assets/css/main.css
  docs/incidents/inc-001/index.html
  docs/incidents/inc-004/index.html
  docs/incidents/index.html
  docs/incidents/index.xml
  docs/index.html
  docs/index.xml
  docs/sitemap.xml
  docs/systems/index.html
  docs/systems/index.xml
  layouts/_default/baseof.html
Owners: @admin, @docs-team

Fix incident links and styling - Made entire incident card clickable - Added CSS for incident links and hover states
  docs/css/main.css
  docs/incidents/inc-001/index.html
  docs/incidents/inc-004/index.html
  docs/incidents/index.html
  docs/incidents/index.xml
  docs/index.html
  docs/index.xml
  docs/sitemap.xml
  docs/systems/index.html
  docs/systems/index.xml
  layouts/incidents/list.html
  static/css/main.css
Owners: @docs-team, @admin

Remove systems link from navigation header
  layouts/_default/baseof.html
Owners: @admin

.github/CODEOWNERS:

# Global code owners
* @admin

# Configuration files
/config/ @admin
/config/systems.json @admin @maintainers

# GitHub Actions workflows
/.github/workflows/ @admin @devops

# Frontend code
/src/ @frontend-team

# Documentation
/docs/ @docs-team @admin
*.md @docs-team @admin

# Scripts
/scripts/ @devops
